# Python
backend/venv/
backend/__pycache__/
backend/build/
backend/dist/
backend/*.spec
*.pyc

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/release/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# Configurações Locais
.env
.env.local
